@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100&display=swap');

h1 {
    position: relative; 
	top: 30px;
    text-align: center;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 6vh;
    font-style: italic;
    font-weight: bolder;
    color: white;
    border-bottom: 1px solid #b1aebb;
    border-top: 1px solid #b1aebb;
}
/*table{
    font-family: 'Smooch Sans', sans-serif;
    font-size: 6vh;
    display: flex;
    flex-direction: column;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 2.8vh;
    font-style: normal;
    text-align: center;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    border-bottom: 60cm;
    border: 0px;

}*/

#maindiv{

    display: grid;
    grid-template-columns: 100px,100px,100px,100px,100px,100px,100px,100px,100px,100px,100px,100px;
    grid-template-rows: 100px, 100px, 100px,100px,100px,100px,100px, 100px,100px,100px,100px,100px;
    width: 100%;
}

#inputbox{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    color: white;
    text-align-last: right;

}

#buttonbox{
    grid-row-start: 5;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 4;
    color: white;
}
#tablediv{
    grid-row-start: 1;
    grid-row-end: 12;
    grid-column-start: 12;
    grid-column-end: 12;
    border-color:   white;

}


body {
    height: 90vh;
    width: 100%;
    background: linear-gradient(45deg,#3a3153,#5f43b2,#7f5af0,#fefdfd);
    background-size: 300% 300%;
    animation: color 15s ease-in-out infinite;
}
table {
    border-collapse: collapse;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 3vh;
    
  }
  
  th, td {
    border: 1px solid white;
    padding: 8px;   
    color:white;
  }
  thead th {
    width: 25%;
  }
  
label {
    font-size: 3;
}

button{
    position: relative; 
    margin-bottom: 10px;
	top: 60px;
    padding: 1vh;
    border-color: #fefdfd;
    background-color: #5f43b2;
    border-radius: 15px;
    color: #fefdfd;
    font-family: 'Smooch Sans', sans-serif;
    font-size: 2.8vh;
    font-style: normal;
    font-weight: bolder;
    transition: all 0.7s ease; 

}

button:hover {
    background-color:#7d58eb;
    font-size: 3.2vh;

}
button:focus {
    outline-color: transparent;
    outline-style: solid;
    box-shadow: 0 0 0 4px orchid;
    transition: 0.7s;
}

